
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;

	background-color: #ffffff;
	background-attachment: fixed;
	background-image: url('immagini/sfondo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

#page-container {
	position: relative;
	min-height: 100%;
  }


h2{
	font: Arial;
	font-size:1.5em;
	text-align:center;
  }

  p {
	font-family: Consolas;
	text-align: justify;
	font-size: 1.5em;
	color: #000000;
}

td{
    width: 30%;
    margin-right: 0.1em;
}

.foto{
    width: 70%;
}

.container{
width: 40%;
height: 60%;
}

img {
	position: static;
	align-items: center;
    text-align: center;
}

#immagine{
	text-align: center;
	margin-top: 0.5cm;
}

#corpo {
	margin-top: 1.5cm !important;
	margin-left: 12cm !important;
	margin-right: 12cm !important;
	text-align: center;
    align-items: center;

	min-width: 700px;
}

#formVendita {
	margin-left: 15cm;
	margin-right: 15cm;
	text-align: center !important;
	min-width: 700px;
}

